lib
dist
logs

*.variables

# exclude binaries
*.exe
*.msi
*.zip
*.pkg
*.deb
*.tar.xz
*.spk
*.qpkg

# exclude verification files
*.asc

# exclude incremental update files
CHANGES.*

# exclude generated repository files
*.gz
*.gpg
