body, h1, h2, h3, h4, p, ul, ol, table {
	color: #CCC;
}

strong {
	font-weight: normal;
	color: #FF8C00;
	opacity: 0.9;
}

a, abbr {
	color: #99C794;
}

div.navigation a {
	color: #D6DCE7;
}

div.navigation a:hover, div.navigation a:focus {
	color: #FF8C00;
	opacity: 0.9;
}

h1 span.description {
	color: #AAA;
}

div.section span.quote, small.comment, a.source {
	color: #8888;
}

body {
	background-color: #292D32;
}

div.page {
	background: #303841;
	border: thin solid #4F565E;
}

div.page, div.video iframe, img.screenshot {
	box-shadow: 0px 2px 5px #2a3139;
}

div.section.tutorial ol, div.section.tutorial ul {
	background-color: #4B5D7C;
}

div.section.features > ul.next {
	border-top: thin dotted #99C79422;
}

hr {
	border-style: dotted; 
	border-color: #99C79422;
}

ul.repository {
	background-color: #2A3139;
	border: thin solid #2A3139;
}

table.reference > tbody > tr > td {
	border-top: none
}

p.suggestion {
	border: thin dotted #99C79422;
	background-color: #2A3139;
}

a.box {
	background-color: #F5F5F5;
	box-shadow: 0px 2px 5px #2a3139;
}

span.light {
	opacity: 0.7;
}

div.light, a.light, img.light {
	opacity: 0.9;
}

div.light:hover, a.light:hover, img.light:hover {
	opacity: 1.0;
	transition: opacity 0.1s ease;
}
