code {
	color: #CCC;
	background-color: #2A3139;
	border: thin solid #2A3139;
}

code .option, code .variable, code .property, div.documentation span.property, table.binding td:first-child, table.options > * > * > td:first-child {
	color: #5DB0B0;
}

code .method, div.documentation span.method {
	color: #9A74DF;
}

code .string, code .numeral, code .regex {
	color: #F3AB57;
}

code .cmd, code .block {
	color: #1F7EA7;
}

code .argument, code .type, div.documentation span.return, table.binding td:last-child {
	color: #6598CA;
}

table.binding tr:hover {
	background-color: #2A3139;
}

div.documentation {
	background-color: #2A3139;
	border: thin dotted #99C79422;
}

div.documentation dt {
	color: #CCC;
}

div.documentation h4 {
	background-color: #2A3139;
	border-bottom: thin dotted #99C79422;
}
