code {
	color: #CCC;
	background-color: #2A3139;
	border: thin solid #2A3139;
}

code span.option, code span.variable, code span.property, div.documentation span.property, table.binding td:first-child, table.options > tbody > tr > td:first-child {
	color: #5DB0B0;
}

code span.method, div.documentation span.method {
	color: #9A74DF;
}

code span.cmd, code span.string, code span.numeral, code span.regex {
	color: #F3AB57;
}

code span.block {
	color: #3A8DAF;
}

code span.argument, code span.type, div.documentation span.return, table.binding td:last-child {
	color: #6598CA;
}

table.binding tr:hover {
	background-color: #2A3139;
}

div.documentation {
	background-color: #2A3139;
	border: thin dotted #99C79422;
}

div.documentation dt {
	color: #CCC;
}

div.documentation h4 {
	background-color: #2A3139;
	border-bottom: thin dotted #99C79422;
}
