@font-face {
	font-family: 'Handwriting';
	src: url('fonts/handwriting.ttf');
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

div.review {
	margin: 30px 25px;
	min-height: 100px;
}

div.review a.box {
	animation: fadeIn 0.2s ease-in;
}

div.review p {
	margin: 0px 0px 0px 48px;
	font-size: 11px;
	line-height: 18px;
	color: #555555;
}

div.review p.text {
	font-family: 'Handwriting', cursive;
	font-size: 24px;
	line-height: 20px;
}

div.review span.user {
	font-size: 12px;
	font-weight: bold;
	color: #0077AA;
	vertical-align: baseline;
}

div.review div.thumbs {
	float: left;
	border-radius: 4px 4px 4px 4px;
	background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
	background-color: #0088BB;
	border: thin solid #006699;
	text-align: center;
	height: 42px;
	width: 42px;
}

div.review div.thumbs img {
	position: relative;
	top: 8px;
}
