# Redirect directory root index
RedirectMatch 301 ^/$ https://www.filebot.net/download.html

# Redirect to Microsoft Store or Mac App Store
Redirect 301 /windows/  https://www.microsoft.com/en-us/store/p/filebot/9nblggh52t9x?cid=get
Redirect 301 /mac/      https://apps.apple.com/us/app/filebot/id905384638?mt=12&uo=6&at=1l3vupy&ct=get
Redirect 301 /license/  https://pay.paddle.com/checkout/534413?quantity_variable=0

# Enable Fancy Directory Index
Options +Indexes

IndexOptions FancyIndexing NameWidth=* IconsAreLinks IconWidth=16 IconHeight=16 VersionSort FoldersFirst IgnoreClient SuppressDescription SuppressColumnSorting XHTML HTMLTable Charset=UTF-8
IndexOrderDefault Ascending Date

IndexIgnore *.gif *.ico *.html *.txt

AddType application/octet-stream  .msi .zip .pkg .tar .xz .deb .rpm .spk .qpkg
AddType text/plain                KEYS .asc .sha256

IndexStyleSheet /index/index.css

DefaultIcon /index/page.green.png

AddIcon /index/folder.png  ^^DIRECTORY^^
AddIcon /index/keys.png    KEYS

AddIcon /index/download.windows.png  .msi .zip
AddIcon /index/download.mac.png      .pkg .app.tar.xz
AddIcon /index/download.linux.png    .deb .rpm
AddIcon /index/page.zip.png          .gz .xz .spk .qpkg
AddIcon /index/page.key.png          .asc .gpg


# Use UTF-8 as default charset for HTML files
AddDefaultCharset UTF-8


# Cache Static Resources
ExpiresActive on
ExpiresDefault                          "access plus 1 day"
ExpiresByType text/css                  "access plus 1 month"
ExpiresByType image/svg+xml             "access plus 1 month"
ExpiresByType image/png                 "access plus 1 month"
ExpiresByType image/x-icon              "access plus 1 month"
