# Redirect directory root index
RedirectMatch 301 ^/$ https://www.filebot.net/download.html

# Redirect to Microsoft Store or Mac App Store
Redirect 301 /windows/  https://www.microsoft.com/en-us/store/p/filebot/9nblggh52t9x?cid=get
Redirect 301 /mac/      https://itunes.apple.com/us/app/filebot/id905384638?mt=12&uo=6&at=1l3vupy&ct=get
Redirect 301 /license/  https://pay.paddle.com/checkout/534413?quantity_variable=0

# Enable Fancy Directory Index
Options +Indexes

IndexOptions FancyIndexing NameWidth=* IconsAreLinks IconWidth=16 IconHeight=16 VersionSort FoldersFirst IgnoreClient SuppressDescription SuppressColumnSorting XHTML HTMLTable Charset=UTF-8
IndexOrderDefault Ascending Date

IndexIgnore *.gif *.ico *.html *.txt

AddType application/octet-stream  .msi .zip .pkg .tar .xz .deb .rpm .spk .qpkg
AddType text/plain                KEYS .asc .sha256

IndexStyleSheet https://www.filebot.net/index.css

DefaultIcon https://www.filebot.net/icons/page.green.png

AddIcon https://www.filebot.net/icons/folder.png  ^^DIRECTORY^^
AddIcon https://www.filebot.net/icons/keys.png    KEYS

AddIcon https://www.filebot.net/icons/download.windows.png  .msi .zip
AddIcon https://www.filebot.net/icons/download.mac.png      .pkg .app.tar.xz
AddIcon https://www.filebot.net/icons/download.linux.png    .deb .rpm
AddIcon https://www.filebot.net/icons/page.zip.png          .gz .xz .spk .qpkg
AddIcon https://www.filebot.net/icons/page.key.png          .asc .gpg
